node_modules/
.env
dist/
*.log

place/node_modules
place/uploads
place/.place/
place/.env
place/extensions/.disabled
.place/
place/oldExtensions/

create-treeos/template/uploads
create-treeos/template/.env
create-treeos/template/.treeos-profile
create-treeos/template/node_modules
create-treeos/template/.place/

site/node_modules
site/dist/
