TREE_FRONTEND_DOMAIN=http://localhost:5174
ROOT_FRONTEND_DOMAIN=http://localhost:5173
BE_FRONTEND_DOMAIN=
PORT=port to use
MONGODB_URI=link to the mongo db uri
JWT_SECRET="make up secret key for password hashing"
EMAIL_USER=tree@gmail.com
EMAIL_PASS=tttt tttt tttt ttrf
NODE_WALLET_MASTER_KEY=4n3iu4nr3nnaind98asndafn439fn29fn439n494nf43f32uif329noinssssjk09
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
JUP_API_KEY=
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
CUSTOM_LLM_API_SECRET_KEY=ewrjwekrjwekrnwejkrhw55jrwehjkrwe

VAPID_PUBLIC_KEY=dasf34334ylt0tpkhdgK7Z7TnGwdfsafasdfasdfasdfmt417KvU5jY8E7Abnas9BO89DUQi-On4gCP3lmqgDdptU7M0VVD14MU


VAPID_PRIVATE_KEY=uadsfasdfasfasdfasdffaQaIpRNPosdfsadfasdfasdfasdfasd
VAPID_EMAIL=mailto:treed@gmail.com